.school-name {
  font-size: 1.2rem;
  font-weight: 600;
}

.name-list {
  display: flex;
  margin: 20px 0;
}

.name-list__item {
  margin-right: 10px;
  padding: 5px;
  border: solid 1px #eee;
}

.name-list__item--name {
  font-weight: 600;
}
.name-list__item--meta {
  font-size: .8rem;
  color: #888;
}
.name-list__item--meta > div {
  display: inline-block;
  margin-right: 5px;
}
